.container{
  display: flex;
  align-items: center;
flex-direction: column;
gap: 2rem;
margin-top: 3rem;
color: white;
}

.subc{
  display: flex;
  color: white;

  align-items:center ;
  gap: 1rem;
  flex-direction: column;
}

ion-content{

  --ion-background-color:#1f1f1f;
}