<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Switches States
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Switches State</ion-title>
        </ion-toolbar>
  </ion-header>
  <ion-progress-bar [value]="progress"></ion-progress-bar>  

  <div class="container">
    <div class="subc">
      
    <ion-label>Switch 1</ion-label>
    <ion-toggle [checked]="sala" [disabled]="true">Estado:</ion-toggle>  
  </div>
  <div class="subc">
    <ion-label>Switch 1</ion-label>
    <ion-toggle [checked]="cocina" [disabled]="true">Estado:</ion-toggle>  
  </div>
  <div class="subc">
    <ion-label>Switch 1</ion-label>
    <ion-toggle [checked]="habitacionLisa" [disabled]="true">Estado:</ion-toggle>  
  </div>
  <div class="subc">
    <ion-label>Switch 1</ion-label>
    <ion-toggle [checked]="habitacionBart" [disabled]="true">Estado:</ion-toggle>  
  </div>
  <div class="subc">
    <ion-label>Switch 1</ion-label>
    <ion-toggle [checked]="garaje" [disabled]="true">Estado:</ion-toggle>  
  </div>
  <div class="subc">
    <ion-label>Switch 1</ion-label>
    <ion-toggle [checked]="entrada" [disabled]="true">Estado:</ion-toggle>  
  </div>

  </div>
</ion-content>
